{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": "14",
          "firefox": "47",
          "chrome": "56",
          "safari": "9"
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": "cjs"
      }
    ]
  ]
}