<!-- 此文件不是必须的，当存在时，会作为默认模板 -->

<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
  <!-- 此处的 title 标签不会生效，请在 .umirc.ts 的 title 属性中配置 -->
  <title>Your App</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
